
body 
{
  font-family: 'Raleway', sans-serif;
  
}


/* PARAMETRES DE LA PAGE */

.container {
  margin: auto;
  width: 94%;
}

/* PARAMETRES DU HEADER */

/* le conteneur */

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  margin-right: 3%;
}


nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  color: #0065fc;
}

nav ul li a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
  color: #0065fc;
}

nav ul li {
  margin-left: 28px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.blue-link a {
  color: #0065fc;
  margin-right: 0%;
  font-weight: bold;
}

.blue-link a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
}

.blue-link {
  padding-left: 28px;
}

/* le texte d'accroche */

.search-barre 
{
  display: flex;
  margin-bottom: 40px;
}


.fa-map-marker-alt 
{
  display:flex;
  justify-content: center;
  align-items: center;
  width:45px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.country 
{
  width: 234px;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.buttonsearch
{
  width: 130px;
  height: 51px;
  border: none;
  border-radius:0px 10px 10px 0px;
  background-color: #0065fc;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.fa-search
{
  display: none;
}

.buttonsearch:hover 
{
  color: #0065fc;
  background-color: #deebff;
  border: 1px solid #0065fc;
  cursor: pointer;
}

/* Filtres*/

.filtre h3 
{
  margin-right: 32px;
}

.filtre 
{
  display: flex;
  flex-wrap:wrap;
  
}

.filtre button 
{
  display: flex;
  align-items: center;
  height: 47px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #f2f2f2;
  border-radius: 47px;
  background: none;
  padding: 0 9px 0 0;
  margin-right: 25px;
  cursor: pointer;
}

.filtre .icon 
{
  display: flex;
  height: 47px;
  width: 47px;
  margin-left: -2px;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  border-radius: 47px;
  color: #0065fc;
}

.filtre button:hover .icon 
{
  color: black;
  background-color: #deebff;
}

.filtre button:hover 
{
  background-color: #0065fc;
  color: white;
  border-color: #0065fc;
}


.logement 
{
  display: flex;
  margin-bottom: 30px;
}

.logement i 
{
  border: 2px solid #F2F2F2;
  width: 29px;
  font-size: 14px;
  color: #0065FC;
  border-radius: 100%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29px;
  margin-top: 30px;
}

p.logements 
{
  margin-top: 50px;
}

/*  HEBERGEMENT */

.hebergements-marseille {
  display: flex;
  margin: 25px 0 50px;
    margin-bottom: 50px;
}

.hebergement
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}   

#hebergements 
{
  display:flex;
  flex-direction: column;
  max-width: 980px;
  margin-right: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

#hebergements h3 
{
  padding-left: 45px;
  font-size:20px;
}

.cadre-link 
{
  margin: 15px 0 20px 0;
}

.cadre-image
{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 0px #ccc;
  padding: 5px 5px 7px 5px;
}

.cadre-image h4 
{
  padding-left: 12px;
  margin: 2px 0 0 0;
}

.cadre-image p 
{
  padding-left: 12px;
  margin: 6px 0;
}

.cadre-image .stars 
{
  padding-left: 12px;
  color: #0065fc;
}

.fit-picture 
{
  object-fit: cover;
  width: 236px;
  height: 114px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.stargrey 
{
  color: #f2f2f2;
}



/* LES PLUS POPULAIRES */

.populaires 
{
  display: flex;
  flex-direction: column;
  padding: 2px 20px 0 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 430px;
}

  
.populaire 
{
  padding-top: 9px; 
}

.fa-chart-line 
{
  margin-left: 157px;

}   
  
.picture-populaire 
{
  
  background: white;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  margin: 7px 0px 20px 0px;
  height: 145px;
  box-shadow: 0 5px 16px #ccc;
}

h2
{
  margin-left:7px;
}
  
.stars
{
  padding-left: 12px;
  color: #0065fc; 
}

.stargrey
{
  color:#ccc;
}
  
.pop-picture 
{
  background-color: white;
  float: left;
  width: 36%;
  height: 97%;
  border-radius: 15px 0 0 15px;
  margin: 2px 10px 2px 0px;
  object-fit: cover;
}
  
.fa-chart-line 
{
  margin-left: 157px;

}

  /* ACTIVITES*/

#activities h3
{
  font-size: 20px;
  margin-left: 3px;
}
       
#activities 
{
  margin-bottom: 62px;
}

.boxactivities  
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 453px;
  margin-top: 24px;
  box-sizing: border-box;
}

.cadre-activite
{

  border-radius: 10px;
  box-shadow: 0px 0px 13px 0px #CCC;
}

.pic-activite 
{
  object-fit: cover;
  width: 285px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cadre-activite  h4 
{
  padding: 17px 22px;
  margin: 0;
}

.cadre-activite :hover 
{
  box-shadow: none;
}

.cadre1 
{
  height: 395px;
}

.cadre2 
{
  height: 180px;
}

.cadre3 
{
  height: 110px;
}

.cadre4 
{
  height: 395px;
}
.cadre5 
{
  height: 140px;
}

.cadre6 
{
  height: 135px;
}

h4 
{
  font-size: 16px;
  font-weight: bold;
  margin-left: 55px;
  margin-top: 10px;
}

p 
{
  font-size: 13px;
}

a 
{
  text-decoration: none;
  color: black;
}

h1
{
  margin-left: 55px;
  font-size: 20px;
}
    

a:hover 
{
  color: #0065fc;
}

/* FOOTER */

footer 
{
  width: 100%;
  background-color: #f2f2f2;
}
.footerconteneur {
  display: flex;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer {
  width: 40%;
}

footer h3 
{
  padding: 45px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

footer ul 
{
  list-style: none;
  padding: 0;
}

footer ul li 
{
  font-size: 17px;
  padding: 10px 0;
}

footer ul li a 
{
  text-decoration: none;
  color: black;
}

footer ul li a:hover 
{
  color: #0065fc;
}



@media (min-width: 300px) and (max-width: 767px) /* SMARTPHONES */ {
  /* PARAMETRES GENERAUX */

  h2 {
     font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  h3 {
     font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }

  /* HEADER */

  header {
    margin: 0;
    width: 100%;
    padding-left: 5px;
  }

  .container2 {
    display: grid;
    padding-top: 5px;
  }

  .navigation {
    margin-right: 0;
  }

  /*  MENU */

  .blue-link {
    position: absolute;
    top: 29px;
    right: 30px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2px;
  }

  nav ul {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 14px;
  }

  nav ul li {
    margin-left: 0;
    padding: 10px 46px 5px 11px;
  }

  nav ul li a{
  padding :20px;
}

  nav ul li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 17px;
  }

  /* PARAMETRES DU DISPLAY BOUTON LOUPE */

  .fa-map-marker-alt 
{
  display:flex;
  justify-content: center;
  align-items: center;
  width:45px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}
    

 .buttonsearch 
{
  display: block;
  width: 51px;
  height: 51px;
  border: none;
  border-radius:0px 10px 10px 0px;
  background-color: #0065fc;
  color: white;
}

.buttonsearch span
{
  display: none;
}
    
.buttonsearch .fa-search
{
  display: block;
  color: white;
}

.buttonsearch .fa-search:hover 
{
  color: #0065fc;
 background-color: #deebff;
  border: 1px solid #0065fc;
}


/* Filtres */

.filtre
{
  display: flex;
  flex-wrap: wrap;
 
  margin-top: -37px;
}
    
.filtre button 
{
  margin: 0 10px 6px 5px;
  font-size: 14px;
}
    
.filtre h3 
{
   font-family: 'Raleway', sans-serif;
  flex-basis: 100%;
}

.fa-info
{
  margin-left:5px;
}


/* HEBERGEMENTS ET POPULAIRES */

  .hebergements-marseille {
    display: flex;
    flex-direction: column;
  }

 /* PARAMETRES HEBERGEMENTS */
   #hebergements {
    width: 100%;
    background-color: white;
    order: 2;
    margin: 0%;
    padding: 0;
  }
  
  #hebergements h3 
  {
  margin-left: 2px;
  font-size:20px;
  }

  .hebergement {
    display: flex;
    flex-direction: column;
  }



  .fit-picture {
    width: 100%;
   font-size: 14px;
  }


 .picture-populaire {
    width: 95%;
    padding: 5px;
    margin: 10px;
    font-size: 14px;
  }


  /* PARAMETRES HEBERGEMENTS POPULAIRES */

  .populaires {
    width: 100%;
    margin: 0;
    padding: 0;
    order: 1;
    display: flex;
  }

  .fa-chart-line 
  {
  margin-left: 117px;
  }

 h3 {
  margin-left:25px;
  }

 /* PARAMETRES ACTIVITES */

  .boxactivities {
    display: flex;
    flex-direction:column;
    height: auto;
    margin-bottom: 25px;
    justify-content: normal;
    width:105%;
    
  }

  .cadre-activite {
    width: 90%;
    margin:12px;
  }


 .pic-activite  {
    width: 100%;
    height: 130px;
  }

 .activity-link{
  width:100%;

 }

/* FOOTER*/

  .footerconteneur {
    display: grid;
  }

  .footer {
    width: auto;
  }

}




/* RESPONSIVE TABLETTE */

@media (min-width: 768px) and (max-width: 1024px) /* TABLETTE */ {
  * {
    font-family: 'Raleway', sans-serif;
  }

  /* HEBERGEMENTS ET POPULAIRES ET ACTIVITES*/

  .hebergements-marseille {
    margin: 25px 0 50px;
    display: flex;
    flex-direction: column;
  }

  #hebergements {
    width: 100%;
    left: 50%;
    margin-bottom: 20px;
    border-radius: 0;
  }

  .populaires {
    width: 95%;
    left: 50%;
    display: flex;
  }

  .fa-chart-line 
  {
  margin-left: 500px;
  }

  .activity-link{
  width:160px;
 }

  .cadre1{
  width:100%;
  }

 .cadre2{
 width:100%;
  }

.cadre3{

  width:100%;

}

.cadre4{

  width:100%;
  
}
  
.cadre5{
 
  width:100%;
 
}

.cadre6{
  
width:100%;

}

}


  

@media (min-width: 1025px) and (max-width: 1800px) /* GRAND ECRAN */ {
 .populaires {
   
  }


}





